<footer class="footer footer-transparent d-print-none">
    <div class="container-xl text-center align-items-center">
        <div class="col-lg-auto ms-lg-auto">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item"><a href="https://github.com/mtrentz/spotify-tracker" target="_blank"
                        class="link-secondary">Source Code</a></li>
                <li class="list-inline-item"><a href="https://mtrentz.com.br" target="_blank"
                        class="link-secondary">About Me</a></li>
                <li class="list-inline-item"><a href="https://github.com/mtrentz" target="_blank" class="link-secondary"
                        rel="noopener">Github</a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/mtrentz/" target="_blank"
                        class="link-secondary" rel="noopener">LinkedIn</a></li>
            </ul>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">Website made with <a href="https://tabler.io" target="_blank"
                        class="link-secondary">Tabler</a>.</li>
            </ul>
        </div>
    </div>
</footer>